.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  background: #0b0c12;
  color: #c5c6c7;
  background-size: 100%;
  width: 100%;
  height: 100%;
}

main {
  background: #333;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

h3 {
  color: #c5c6c7;
  padding: 10px;
}

h1 {
  color: #c5c6c7;
}

a {
  color: #45a29e;
}

section {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  padding:10px;
}

.SkillsAndShape {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.Skills {
  color: #fff;
  padding: 8px;
  flex:1;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  max-width: 100%;
}

.text-and-slider {
  flex:1;
  margin:1em;
  background: #1f2833;
  border-radius: .5em;
  box-shadow: -3px 2px 3px #1f344d;
}

.Slider {
  width: 25rem;
}

.MuiSlider-markLabelActive {
  color: #c5c6c7;
  /*background-color: #fff;*/
}

.MuiSlider-markLabel {
  color: #c5c6c7;
  /*background-color: #fff;*/
}

.MuiSlider-root {
  color: #c5c6c7;
  /*background-color: #fff;*/
}

.Shape {
  flex: 1;
  display: flex;
  align-items: center;
  margin: 1em;
  background: #1f2833;
  border-radius: 7px;
  box-shadow: -3px 2px 3px #1f344d;
}

.Radar {
  width: 100%;
}