.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  background: #0b0c12;
  color: #c5c6c7;
  background-size: 100%;
  width: 100%;
  height: 100%;
}

main {
  background: #333;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

h3 {
  color: #c5c6c7;
  padding: 10px;
}

h1 {
  color: #c5c6c7;
}

a {
  color: #45a29e;
}

.Skills {
  max-width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

section {
  display: flex;
  flex-flow: column wrap;
  max-width: 50rem;
}

.Slider {
  color: #fff;
  padding: 8px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  max-width: 100%;
}

.innerSlider {
  width: 20rem;
  color: #fff;
}

.MuiSlider-markLabelActive {
  color: #c5c6c7;
  /*background-color: #fff;*/
}

.MuiSlider-markLabel {
  color: #c5c6c7;
  /*background-color: #fff;*/
}

.MuiSlider-root {
  color: #c5c6c7;
  /*background-color: #fff;*/
}
